
.MainPageImage {
    display: block;
    margin: 0px auto;
    margin-top: 30px;
}


._widget-auto-layout {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.WelcomeBack_h1_Title {
    margin-top: 250px;
    margin-bottom: 35px;
    color: rgb(45, 51, 58);
    text-align: center;
    font-size: xx-large;
}



/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.container {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin-top: 10px;

    border-radius: 6px;
    background-color: #fff;
}

.container .input-box {
    position: relative;
    height: 50px;
}

.input-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 0 35px 0 15px;
    transition: all 0.2s linear;
}

/* Email Input border-color : 시작시 초록색 */
input:is(:focus, :valid) {
    border-color: #10a37f;
}

.input-box :is(label, i) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    transition: all 0.2s linear;
}

/*E-Mail or Password 칸 안에 있는거 */
.input-box label {
    left: 15px;
    pointer-events: none;
    font-size: 18px;
    font-weight: 400;
}

/*E-Mail or Password 위로 가는거 */
input:is(:focus, :valid)~label {
    color: #10a37f;
    top: 0;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
}

/* 눈 */
.input-box i {
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

/* Focus 되었을 때 눈 */
input:is(:focus, :valid)~i {
    color: #10a37f;
}



.input_box input {
    position: absolute;
    height: 100%;
    width: 100%;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 0 35px 0 15px;
    transition: all 0.2s linear;
}



.SignUp {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.SignUpHref {
    color: #10a37f;
    text-decoration: none;
}


.LogInButton {

    width: 100%;
    min-height: 52px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    color: #ffffff;
    background-color: #10a37f;
    border-radius: 6px;
    margin-top: 24px;
}
